{% extends 'base.html' %}

{% block content %}

<!-- Main -->
<div class="main">

    <div class="main_indent"></div>
    <div  class="bold"><center>{{ title }}</center></div>
    <div class="main_indent"></div>


    <!-- Main window -->
    <div class="main_window ">
        <div class="main_block"></div>
        
        <div class="main_window_data_cont">
            <div class="main_window_data_cont_title"></div>
            <div class="main_window_data_cont_sect">
                <!-- Content Start -->


                
                <div>{{ splist | safe }}</div>
           


                <!-- Content End -->
            </div>
        
        </div>
        <div class="main_block"></div>
    </div>
    <!-- End Main window -->





    <div class="main_indent"></div>



</div>

<!-- End Main-->
{% endblock %}
