<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Supplier list</title>

    <link rel="stylesheet" href="{% static "css/style_admin.css" %}" />

</head>
<body>

    <h3>Administration page</h3>
    <div>Logged in user: <b>{{ request.user.first_name }} {{ request.user.last_name }}</b></div>
    <div class="indent_br"></div>

    <form method="POST" action="/createsp/">
        {% csrf_token %}
        <p>
            <label>Supplier</label><br>
            <input type="text" name="name" />
        </p>
        
        <p>
            <label>Supplier Info</label><br>
            <textarea type="text" name="supplierinfo"></textarea>
        </p>


        <p>
            <label>Commercial qualification</label><br>
            <input type="text" name="cq" />
        </p>
        
        <p>
            <label>Commercial qualification - Data</label><br>
            <input type="text" name="cqdata" />
        </p>
      
        <p>
            <label>Conducted audits and audit teams</label><br>
            <textarea type="text" name="audited"></textarea>
        </p>
               
        <input type="submit" value="Submit" >
    </form>
    
    {% if supplierlist.count > 0 %}
        <h3>Supplier Commercial and Product qualification list</h3>
        <table border="1" cellpadding="4" cellspacing="0">
            
            <thead>
                <th>Id</th>
                <th>Supplier</th>
                <th>Supplier Info</th>
                <th>Commercial qualification</th>
                <th>Commercial qualification - Data</th>
                <th>Conducted audits and audit teams</th>
                <th></th>
            </thead>
            
            {% for supplier in supplierlist %}
            
                <tr>
                    <td>{{ supplier.id }}</td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.supplierinfo }}</td>
                    <td>{{ supplier.cq }}</td>
                    <td>{{ supplier.cqdata }}</td>
                    <td>{{ supplier.audited }}</td>
                    <td>
                        <a href="/editsp/{{supplier.id}}"><button class="button_ed">Edit</button></a>
                        <div class="indent_br"></div>
                        <a href="/deletesp/{{supplier.id}}" onclick="return confirm('Are you sure?')"><button class="button_del">Delete</button></a>
                    </td>
                </tr>
            
            {% endfor %}
            
        </table>
    {% endif %}

</body>
</html>
